/* You can add global styles to this file, and also import other style files */
@import "globals";
@import "mixins";
@import "overrides";
@import "variables";
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';
@import "~ng-pick-datetime/assets/style/picker.min.css";

html, body {
    background: url(/assets/images/bgpplain.jpg) no-repeat fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

.mat-icon-button ::ng-deep .mat-button-focus-overlay {
    display: none;
    }