/* You can add global styles to this file, and also import other style files */
@import "globals";
@import "mixins";
@import "overrides";
@import "variables";


html {
    background-image: url('/assets/i18n/bgp.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

