.profile-wrapper {
  width: 300px;
  position: absolute;
  top: 35%;
  left: 65%;
  margin-top: -150px;
  margin-left: -150px;
  text-align: center;
}

.profile-full-width{
  width: 100%;
}
.profile-wrapper mat-card-header {
  text-align:center;
  width:100%;
  display:block;
  font-weight:700;
}
.mat-stroked-button {
  border:2px solid;
  width: 250px;
  color: black;
}

.button-separator {
  height: 10px;
}

.pc {
  border: 1px;
  font-size: large;
  font-weight: 100;
}

