<form [formGroup]="editForm" (ngSubmit)= "onSubmit()" >
  <h1 style="text-align:center;">{{'profile.view' | translate}}</h1>
    <mat-dialog-content class="dialogview mb-5">
      <div class="personal">
        <span *ngIf = "!mod">
          {{'profile.lastname' | translate }}
          <div class="pc">
             {{profileData.lastName}}
          </div>
        </span>
        <span *ngIf = "mod">
          <mat-form-field>
            <mat-label>{{'profile.lastname' | translate }}</mat-label>
              <div class="pc">
             <input matInput
                [(ngModel)] = "profileData.lastName"
                class="input"
                formControlName = "lastname">
              </div>
            </mat-form-field>
        </span>
        <br>
        <span *ngIf = "!mod">
          {{'profile.firstname' | translate }}
          <div class="pc">
             {{profileData.firstname}}
          </div>
        </span>
        <span *ngIf = "mod">
          <mat-form-field>
            <mat-label>{{'profile.firstname' | translate }}</mat-label>
              <div class="pc">
             <input matInput
                [(ngModel)] = "profileData.firstname"
                class="input"
                formControlName = "firstname">
              </div>
            </mat-form-field>
        </span>
      </div>
        <br>
        <span *ngIf = "!mod">
          {{'profile.dateOfBirth' | translate }}
          <div class="pc">
             {{profileData.dateOfBirth}}
          </div>
        </span>
        <span *ngIf = "mod">
          <mat-form-field>
            <mat-label>{{'profile.dateOfBirth' | translate }}</mat-label>
              <div class="pc">
             <input matInput
                [(ngModel)] = "profileData.dateOfBirth"
                class="input"
                formControlName = "dateOfBirth">
              </div>
            </mat-form-field>
        </span>
        <br>
      <div class="divider"> </div>
      <div class="workdata">
        <span *ngIf = "!mod">
          {{'profile.department' | translate }}
          <div class="pc">
             {{profileData.department}}
          </div>
        </span>
        <span *ngIf = "mod">
          <mat-form-field>
            <mat-label>{{'profile.department' | translate }}</mat-label>
              <div class="pc">
             <input matInput
                [(ngModel)] = "profileData.department"
                class="input"
                formControlName = "department">
              </div>
            </mat-form-field>
        </span>
        <br>
        <span *ngIf = "!mod">
          {{'profile.team' | translate }}
          <div class="pc">
             {{profileData.team}}
          </div>
        </span>
        <span *ngIf = "mod">
          <mat-form-field>
            <mat-label>{{'profile.team' | translate }}</mat-label>
              <div class="pc">
             <input matInput
                [(ngModel)] = "profileData.team"
                class="input"
                formControlName = "team">
              </div>
            </mat-form-field>
        </span>
        <br>
        <span *ngIf = "!mod">
          {{'profile.leader' | translate }}
          <div class="pc">
             {{profileData.leader}}
          </div>
        </span>
        <span *ngIf = "mod">
          <mat-form-field>
            <mat-label>{{'profile.leader' | translate }}</mat-label>
              <div class="pc">
             <input matInput
                [(ngModel)] = "profileData.leader"
                class="input"
                formControlName = "leader">
              </div>
            </mat-form-field>
        </span>
        <br>
        <span *ngIf = "!mod">
          {{'profile.position' | translate }}
          <div class="pc">
             {{profileData.position}}
          </div>
        </span>
        <span *ngIf = "mod">
          <mat-form-field>
            <mat-label>{{'profile.position' | translate }}</mat-label>
              <div class="pc">
             <input matInput
                [(ngModel)] = "profileData.position"
                class="input"
                formControlName = "position">
              </div>
            </mat-form-field>
        </span>
        <br>
        <span *ngIf = "!mod">
          {{'profile.dateOfEntry' | translate }}
          <div class="pc">
             {{profileData.dateOfEntry}}
          </div>
        </span>
        <span *ngIf = "mod">
          <mat-form-field>
            <mat-label>{{'profile.dateOfEntry' | translate }}</mat-label>
              <div class="pc">
             <input matInput
                [(ngModel)] = "profileData.dateOfEntry"
                class="input"
                formControlName = "dateOfEntry">
              </div>
            </mat-form-field>
        </span>
        <br>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button *ngIf = "!mod" mat-stroked-button (click) = Modify()
          align="center">{{'profile.modify' | translate}}</button>
      <button *ngIf = "!mod" mat-stroked-button (click) = Close()
          align="center">{{'profile.close' | translate}}</button>
    <button *ngIf = "mod" mat-stroked-button
          align="center" type="submit">{{'profile.save' | translate}}</button>
    <button *ngIf = "mod" mat-stroked-button (click) = Close()
          align="center">{{'profile.cancel' | translate}}</button>
    </mat-dialog-actions>
</form>
