.mat-icon {
  cursor: pointer;
  margin-right: 3%;
  }

  .btn-block {
    border: 2px solid;
    color: black;

  }

  .row-alignment {
    margin: 0 auto;
  }

  .alignment {
    margin-bottom: 2%;
  }