<div class="container">
  <form [formGroup]="Form" (ngSubmit)="onSubmit()">
    <div class="d-flex flex-column">

      <div class="d-flex justify-content-center">
        <h4>{{ .header' | translate }}</h4>
      </div>

      <mat-form-field>
        <mat-label >{{ reminder.title' | translate }} *</mat-label>
        <input matInput formControlName="title" type="text" maxlength="80">
        <mat-error>{{ 'reminder.titleError' | translate }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ 'reminder.description' | translate }}</mat-label>
        <textarea matInput formControlName="description" maxlength="255"></textarea>
      </mat-form-field>

      <div class="d-flex align-items-center">
        <mat-form-field>
          <mat-label >{{'reminder.startingTime' | translate }} *</mat-label>
          <input
            matInput
            type="datetime-local" autocomplete="off"
            formControlName="startingTime"
            [max]="formMaxStartTime"
            [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" >
          <owl-date-time #dt1 [firstDayOfWeek]="1"></owl-date-time>
        </mat-form-field>
        <mat-icon [owlDateTimeTrigger]="dt1">event</mat-icon>
      </div>

      <div class="d-flex justify-content-between">
        <button mat-stroked-button color="primary" type="submit" [disabled]=Form.invalid"
        >{{ 'remider.submitButton' | translate }}</button>
        <button mat-stroked-button (click)="closeDialog()"
        >{{ 'reminder.cancelButton' | translate }}</button>
      </div>

    </div>
  </form>
</div>
