<form [formGroup]="recurrenceForm" (ngSubmit)="onSubmit()">
  <div class="d-flex flex-column">
    
    <div>
      <mat-label>repeates every</mat-label>
      <table class="example-full-width" cellspacing="0"><tr>
        <td><mat-form-field>
          <input matInput type="number" value="1">
        </mat-form-field></td>
        <td><mat-form-field>
          <mat-label>select</mat-label>
          <mat-select formControlName="frequency">
            <mat-option *ngFor="let freq of frequencyTypes; let i = index" [value]="freq.value">{{ freq.name }}</mat-option>
          </mat-select>
        </mat-form-field></td>
      </tr></table>
    </div>

    <div>
      <mat-label>repeates on</mat-label>
      <mat-chip-list multiple>
        <mat-chip *ngFor="let day of weekDays" selectable="true"
                 [selected]="day.isSelected"
                 (click)="toggleWeekDay(day)">
          {{day.name}}&nbsp;
        </mat-chip>
      </mat-chip-list>
    </div>

    <div>
      <label>Ends</label>
      <mat-radio-group  class="d-flex flex-column">
        
        <mat-radio-button value="1">
          after
          <mat-form-field>
            <mat-label >{{ 'meeting.startingTime' | translate }} *</mat-label>
            <input
              matInput
              type="datetime" autocomplete="off"
              [min]="startingDate"
              [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" >
            <owl-date-time #dt1 [firstDayOfWeek]="1"></owl-date-time>
          </mat-form-field>
          <mat-icon [owlDateTimeTrigger]="dt1">event</mat-icon>  
        </mat-radio-button>

        <mat-radio-button value="2">
          never
        </mat-radio-button>
        
      </mat-radio-group>
    </div>
  
  </div>
</form>